.App {
  background-image: url('../public/Rectangle.jpg');
  background-color: #EAE0CC;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h3 {
  margin: 0;
  padding: 0;
  border: 0;
}